<br />
<div class="jumbotron">
	<h1 class="center">Welcome to Marswiki</h1>
	<p class = "center">
		<% if current_user %>
			<%= link_to "#{current_user.name || current_user.email}'s Wiki's", wikis_path, class: 'btn btn-success' %> 
		<% else %>
			<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> to creat and view Wiki's!
		<% end %>
	</p>
</div>
<div class="row">
	<div class="col-md-6">
		<h2 class="centerblue">Free Plan</h2>
			<p class = "center">Create unlimited number of Wiki's</p>
			<p class = "center">All Wiki's are public</p>
	</div>
	<div class="col-md-6">
		<h2 class="centerblue">Premium (Paid) Plan</h2>
			<p class = "center">Create unlimited number of Wiki's</p>
			<p class = "center">Assign unlimited number of collaborators</p>
			<p class = "center">Create private Wiki's, only viewable to other Marswiki members</p>
	</div>
</div>
